*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style  */

.font-Inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #ffffff;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 20px;

}
nav{
  width: 1600px;
  height: 92px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px 16px 120px;
  gap: 346px
   
}

nav .menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    padding: 16px 0;
    
}

nav .menu a{
    margin-right: 24px;
    text-decoration: none;
    color: #334155;
    font-weight: 500;

}

.btn{
    width: 164px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background: #30b868;
    font-weight: 500;
    color: #ffffff;
    margin-left: 346px;
    cursor: pointer;
    border: none;

}
.btn-secend{
   width: 198px;
   height: 52px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 18;
   padding: 12px 16px 12px 16px;
   box-sizing: border-box;
   border: 1px solid;

}

.hero{
    
    background: url(../icon/hero-bg.png);
    width: 1600px;
    height: 674px;
   
}

.hero-overlay{
    position: absolute;
    inset: 0;
    background: rgba(red, green, blue, alpha);
}

.badge{
    width: 229px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: #ffffff;

}
.hero-content{
    position: relative;
    z-index: 1;
    max-width: 700px;
    
}
.hero h1{
    color: #ffffff;
}
.hero h1 span{
    color: #4ade80;
}

.hero p {
color: #ffffff;
font-size: 18px;
font-weight: 400;
text-align: center;
}

.hero-button button {
  margin-right: 12px;
}

#problam{
    padding-top: 130px;

}

#problam .problam-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    height: 152px;
    text-align: center;
    padding-bottom: 50px;
}

#problam .problam-container .problam-box{
    display: flex;
    gap: 24px;

}

.problam-box .problam-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000038;

}
.problam-card img{
    max-width: 44px;
    margin-bottom: 30px;


}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}